@{
    Layout = "~/pages/Shared/_LayoutAdmin.cshtml";
}

@section styles{
    @RenderSection("styles", required: false)
    <base href="~/" />
}

<div class="container-fluid" dir="ltr">

    <div class="row">
        <div class="col-sm-2 p-0 m-0">

            <partial name="_Sidebar" />
        </div>
        <div class="col-sm-10">

            @RenderBody()
        </div>

    </div>
</div>

@section Scripts{
    <script src="~/_framework/blazor.server.js"></script>
    @RenderSection("scripts", required: false)

}
