@page
@model IndexModel
@{
    Layout = "_LayoutLanding";
    ViewData["Title"] = "Home page";
}


<section style="background-image:url(/img/stardust.png);background-repeat: repeat;padding:0;margin:0; ">
    <div class="row py-lg-5 ">
        <div class="col-lg-6 col-md-8 mx-auto text-center mt-5 mb-5 text-white">
            <h1 class="fw-light">Welcome to BookShop</h1>
            <p class="lead text-muted">
                Орen а bооk аnd exраnd yоur wоrld

            </p>
            <p>
                <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-primary my-2">Start here</a>
                <br />
                <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-secondary my-2 btn-sm">Login</a>
            </p>
        </div>
    </div>
</section>

<section style="background-image:url(/img/tex2res5.png);background-repeat: repeat;padding:0;margin:0; ">
    <div class="row py-lg-5 ">
        <div class="col-lg-6 col-md-8 mx-auto text-center mt-5 mb-5">
            <h1 class="fw-light">Top Sells</h1>
            <p>
            </p>
        </div>
    </div>
</section>

<section style="background-image:url(/img/lines.png);background-repeat: repeat;padding:0;margin:0; ">
    <div class="row py-lg-5 ">
        <div class="col-lg-6 col-md-8 mx-auto text-center mt-5 mb-5">

            <h1 class="text-white">
                <vc:user-count></vc:user-count>
            </h1>
            <h3 class="fw-light text-white-50"> happy customers!</h3>

        </div>
    </div>
</section>

<section style="background-image:url(/img/ps4.png);background-repeat: repeat;padding:0;margin:0; ">
    <div class="row py-lg-5 ">
        <div class="col-lg-6 col-md-8 mx-auto text-center mt-5 mb-5">

            &copy; 2023 - BookShop.Web - <a asp-area="" asp-page="/Privacy">Privacy</a>

        </div>
    </div>
</section>



