@page
@model BookShop.Web.Areas.Admin.Pages.Files.IndexModel
@{
}

<a asp-page="./upload" class="btn btn-primary">Upload New File</a>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Size
            </th>

            <th>
                
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var file in Model.FileList)
        {
            <tr>
                <td>
                    @file.Name
                </td>

                <td>
                    @(file.Length / (1024 * 1024)) MB
                </td>
                <td>
                <a asp-page="index" asp-page-handler="download" asp-route-filename="@file.Name" class="btn btn-primary">Download</a>
                </td>
            </tr>
        }
    </tbody>
</table>