@using BookShop.Application.Services;
@model IList<CommentOutput>

@foreach (var comment in Model)
{
    <p>@comment.Note</p>
    <p>@comment.UserName (@comment.TimeCreated.ToShortDateString())</p>
    <hr />
}

