@page
@model BookShop.Web.Pages.Shop.IndexModel
@{
    ViewData["title"] = "Shop";
}

<div class="row">
    @foreach (var book in Model.BookList)
    {

        <div class="col-3 text-center">

          <partial name="_ShopBookItem" model="book" />

        </div>
    }

</div>