@page
@model BookShop.Web.Pages.Shop.ReviewModel

@{
    ViewData["title"] = "Review";
}

<h1>@Model.Output.Name</h1>
<hr />
<p>Rating: @Model.Output.Ratings.Select(r=>(int)r.Score).Average()</p>
<p>Language: @Model.Output.Language</p>
@if (Model.Output.CoverImage is not null)
{
    <img src="@("data:image/jpg;base64,"+Convert.ToBase64String(Model.Output.CoverImage))" class="img-fluid rounded" style="max-width:200px" />
}
else
{
    <img src="~/img/no-cover.jpeg" style="max-height:200px" />
}

<p>Price: $@Model.Output.Price</p>

<hr />

<form method="post">
    <input hidden asp-for="BookId" />
    <button class="btn btn-primary"> Order Now</button>
</form>

